# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/London
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000

# enable firewall and route local network traffic
HOST_NET="192.168.1.0/24"

# The directory where data and configuration will be stored.
APPDATA="./data"
APPDATA_VPN="$APPDATA/vpn"
APPDATA_DELUGE="$APPDATA/deluge"
APPDATA_PROWLARR="$APPDATA/prowlarr"
APPDATA_SABNZBD="$APPDATA/sabnzbd"
APPDATA_SONARR="$APPDATA/sonarr"
APPDATA_RADARR="$APPDATA/radarr"
APPDATA_BAZARR="$APPDATA/bazarr"

DOWNLOADS="/mnt/user/downloads"
DOWNLOADS_DELUGE="$DOWNLOADS/deluge"
DOWNLOADS_SABNZBD="$DOWNLOADS/sabnzbd"

MEDIA_DIR="/mnt/user/media"
MEDIA_TV="$MEDIA_DIR/tv"
MEDIA_MOVIES="$MEDIA_DIR/movies"
MEDIA_ANIME="$MEDIA_DIR/anime"

